In [2]:
import pandas as pd

In [7]:
df = pd.read_clipboard(sep='\\t')

C:\Users\shaha\Anaconda3\lib\site-packages\pandas\io\clipboard\clipboard.py:63: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return read_table(StringIO(text), sep=sep, **kwargs)

In [8]:
df.head()

,District,Bengali,Division,Population (thousands)[2],Area (km2)[2]
0,Barguna District,বরগুনা,Barisal,928,1831
1,Barisal District,বরিশাল,Barisal,2415,2785
2,Bhola District,ভোলা,Barisal,1846,3403
3,Jhalokati District,ঝালকাঠি,Barisal,710,736
4,Patuakhali District,পটুয়াখালী,Barisal,1596,3221

In [13]:
df = df.drop(['Population (thousands)[2]'],axis=1)
df = df.drop(['Area (km2)[2]'],axis=1)

In [14]:
df.head()

              District     Bengali Division
0     Barguna District      বরগুনা  Barisal
1     Barisal District      বরিশাল  Barisal
2       Bhola District        ভোলা  Barisal
3   Jhalokati District     ঝালকাঠি  Barisal
4  Patuakhali District  পটুয়াখালী  Barisal

In [19]:
District = df['District']
Bengali = df['Bengali']
Division = df['Division']

In [26]:
df2 = pd.DataFrame({'Division':Division.values, 'District':District.values, 'Bengali':Bengali.values,'District Code':District.values})

In [27]:
df2.head()

      Bengali             District        District Code Division
0      বরগুনা     Barguna District     Barguna District  Barisal
1      বরিশাল     Barisal District     Barisal District  Barisal
2        ভোলা       Bhola District       Bhola District  Barisal
3     ঝালকাঠি   Jhalokati District   Jhalokati District  Barisal
4  পটুয়াখালী  Patuakhali District  Patuakhali District  Barisal

In [30]:
columnsTitles = ['Division', 'District', 'Bengali','District Code']
df2 = df2.reindex(columns=columnsTitles)

In [31]:
df2.head()

  Division             District     Bengali        District Code
0  Barisal     Barguna District      বরগুনা     Barguna District
1  Barisal     Barisal District      বরিশাল     Barisal District
2  Barisal       Bhola District        ভোলা       Bhola District
3  Barisal   Jhalokati District     ঝালকাঠি   Jhalokati District
4  Barisal  Patuakhali District  পটুয়াখালী  Patuakhali District

In [39]:
df2.to_csv('DistrictCode.csv',encoding="utf-8",index=False)

In [41]:
df3 = pd.read_csv('DistrictCode.csv')
df3.head()

  Division             District     Bengali        District Code
0  Barisal     Barguna District      বরগুনা     Barguna District
1  Barisal     Barisal District      বরিশাল     Barisal District
2  Barisal       Bhola District        ভোলা       Bhola District
3  Barisal   Jhalokati District     ঝালকাঠি   Jhalokati District
4  Barisal  Patuakhali District  পটুয়াখালী  Patuakhali District